<html xmlns:th="http://www.thymeleaf.org" lang="ru"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8" />
    <meta name="robots" content="none"/>
    <meta name="description" content="Метровагонмаш - производит вагоны метро, дизель поезда, рельсовые автобусы." />
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <link
            href="/css/style.css"
            type="text/css" data-template-style="true" rel="stylesheet" />
    <link href='/css/calendar.css' rel='stylesheet' />
    <script src='/js/calendar.js'></script>
    <link rel="icon" href="/img/icons/favicon.ico?v=1" type="image/x-icon">
    <title>ВКС</title>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-danger">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Admin page</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home Page</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!--<header>
  <nav class="nav">
    <a href="/" class="nav__logo hidden-sm hidden-xs">
      <img width="223" src="/img/logo_rus.gif" height="41" alt="Метровагонмаш">
    </a>

    <div class="auth-panel">
      <a sec:authorize="hasAuthority('admin:read')" class="btn btn-outline-secondary" href="/admin/vscrooms/">Панель администратора</a>
      <a sec:authorize="hasAuthority('user:read')" class="btn btn-outline-info" href="/user">Профиль</a>
      <a sec:authorize="isAnonymous()" class="btn btn-outline-secondary" href="/auth/login" role="button">Вход</a>
      <a sec:authorize="isAnonymous()" class="btn btn-outline-secondary" href="/registration">Регистрация</a>
      <a sec:authorize="isAuthenticated()" class="btn btn-danger" href="/auth/logout">Выход</a>
    </div>
  </nav>
</header>-->

<form action="#" th:action="@{/save-user}" method="post">
    <table class="table table-striped table-bordered table-responsive-sm text-center">
        <tr>
            <th>ID</th>
            <th>LOGIN</th>
            <th>PASSWORD</th>
            <th>IS_ACTIVE</th>
            <th>ROLE</th>
            <th>BANNED</th>
        </tr>

        <tbody>

        <!--    <form method="post" action="/save-user" accept-charset="UTF-8">-->
        <tr th:each="user : ${users}">
            <td>
                <input th:value="${user.id}" type="text" size="2" id="id" style="text-align: center" class="form-control" name="id" readonly/></td>
            <td>
                <input th:value="${user.login}" type="text" size="2" id="login" style="text-align: center" class="form-control" name="login"/>
            </td>
            <td>
                <input th:value="${user.password}" type="text" size="2" id="password" style="text-align: center" class="form-control" name="password"/>
            </td>
            <td>  <input th:value="${user.isActive}" type="text" size="2" id="isActive" style="text-align: center" class="form-control" name="isActive"></td>
            <td>
                <div>
                    <select tabindex="10" name="role">
                        <option value="red" th:text="${user.role.name}"></option>
                        <option value="true" th:if="${user.role.name == 'USER' }">ADMIN</option>
                        <option value="false" th:if="${user.accountNonLocked == 'ADMIN'}">USER</option>
                    </select>
                </div>
            </td>
            <td>
                <div>
                    <select tabindex="10" name="banned">
                        <option value="red" th:text="${user.accountNonLocked}"></option>
                        <option value="true" th:if="${user.accountNonLocked != true}" >true</option>
                        <option value="false" th:if="${user.accountNonLocked != false}" >false</option>
                        <!--                    <option selected value="green">НЕ активный</option>-->
                    </select>
                </div></td>
        </tr>
        <!-- </form>-->
        </tbody>

    </table>
    <p style="text-align: center" size="10"><input type="submit" class="btn btn-outline-danger"   style="text-align: center; " value="Отправить"></p>
</form>

</body>
</html>