<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>News Aggregator</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6"
          crossorigin="anonymous">
   <!-- <link rel="stylesheet" th:href="@{/css/main.css}"/>-->
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-danger">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">News</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home Page</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<main role="main" class="container">

    <div class="starter-template">
        <h1>Новости</h1>

        <table class="table">
       <!--     <thead>
            <tr>
                &lt;!&ndash;
                <th scope="col">News</th>
                <th scope="col" width="200">Date</th>
                <th scope="col">Image</th>
                &ndash;&gt;
            </tr>
            </thead>-->
            <tbody>
            <tr th:each="content : ${news}">
                <td>
                    <a th:href="'https://meduza.io/' + ${content.getUrl()}" th:text="${content.getTitle()}"
                       class="text-decoration-none fw-bold" style="color: #3e3e3e; font-size: large"></a>
                    <br>
                    <span th:text="${#temporals.format(content.getPubDate(), 'dd-MM-yyyy')}"
                          class="text-secondary"></span>
                    <br>
                    <img th:if="${content.getShareImageUrl()} != null"
                         th:src="@{${content.getShareImageUrl()}}" class="img-thumbnail w-50"
                    />
                </td>
            </tr>
            </tbody>
        </table>
    <!-- <a class="btn btn-dark" href="/auth/logout" role="button">Logout</a> -->
    </div>
    <form action="/buttons"  method="post">
        <div class="d-flex justify-content-center">
            <button type="submit" id="previous" name ="previous" class="btn btn-outline-info">Previous</button>
            <button type="submit" id="next" name ="next" class="btn btn-outline-info ">Next</button>
        </div>
    </form>
</main>

</main>
<!-- /.container -->

<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>